* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

html, body {
    font-family: sans-serif;
    background-color: #2E2E2E;
}

.page {
    display: flex;
    flex-flow: row;
}
.site-nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #1F2124;
    color: white;
    width: 225px;
    height: 100vh;
    position: relative;
    border-right: 1px solid #3b3b3b;
}
.site-nav-title {
    padding: 20px 0;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
}
.hr-divider {
    width: 40%;
    height: 1px;
    background-color: #2E2E2E;
}
.site-nav-links {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 20px 0;
    gap: 5px;
}
.site-nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    border: none;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.35em;
    font-weight: 300;
    padding: 7.5px 25px 7.5px 7.5px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.1s;
}
.site-nav-link:hover {
    background-color: #3b3b3b;
}
.site-nav-link-active {
    display: flex;
        align-items: center;
        gap: 20px;
        border: none;
        background-color: #2E2E2E;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 1.35em;
        font-weight: 300;
        padding: 7.5px 25px 7.5px 7.5px;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.1s;
}
.site-nav-link-active:hover {
    background-color: #3b3b3b;
}
.nav-link-button-icon {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background-color: #2E2E2E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    color: rgba(255, 207, 134);
}
.site-nav-settings-bar {
    background-color: #2E2E2E;
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 40px;
}
.add-user-button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 300;
    background-color: transparent;
}
.add-user-button:hover {
    background-color: #3b3b3b;
}
.site-nav-settings-button {
    width: 48px;
    padding: 10px;
    font-size: 1em;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 300;
    background-color: #333;
}
.site-nav-settings-button:hover {
    background-color: #3b3b3b;
}
.add-item-button {
    background-color: #2E2E2E;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
    padding: 7.5px 10px;
}
.add-item-button:hover {
    background-color: #3b3b3b;
}
.remove-joint-entries {
    background-color: #2E2E2E;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px 10px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    gap: 10px;
}
.remove-joint-entries:hover {
    background-color: #3b3b3b;
}
.main-container {
    position: relative;
    width: calc(100% - 225px);
    overflow-y: auto;
    height: 100vh;
}
::-webkit-scrollbar {
    margin-top: 5px;
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.monthly-money-money {
    display: block;
    color: white !important;
    background-color: transparent;
    border: none;
    width: 75px;
    font-size: 1em;
    text-align: left;
    padding: 0 5px;
}
.toolbar {
    width: 100%;
    height: 45px;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid #3b3b3b;
    position: sticky;
    top: 0;
}
.list-type-container {
    display: flex;
    align-items: center;
    background-color: #2E2E2E;
    border-radius: 5px;
    overflow: hidden;
}
.list-type-select {
    width: 100px;
    padding: 10px !important;
    outline: none;
}
.add-list-button {
    width: 32px;
    height: 100%;
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
}
.add-list-button:hover {
    background-color: #3b3b3b;
}
.text-input {
    color: white !important;
    background-color: #2E2E2E;
    border: none;
    width: 200px;
    font-size: 1em;
    text-align: left;
    padding: 7.5px 10px;
    border-radius: 5px;
    font-weight: 300;
}
.text-input-transparent {
    color: white !important;
    background-color: transparent;
    border: none;
    width: 200px;
    font-size: 1em;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
}
.item-list {
    width: 100%;
    margin: 0 auto;
    color: white;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 55px;
}
.item-list > tbody > tr  {
    border-bottom: 1px solid #1F2327;
}
.item-list > tbody > tr:last-of-type  {
    border-bottom: none;
}
.item-list > thead > tr > th {
    padding: 5px;
    font-size: 0.8em;
    width: 100px;
}
.list-item {
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    transition: background-color 0.1s;
    cursor: default;
}
.list-item > td {
    padding: 5px;
    width: 100px;
    margin: 0 auto;
}
.list-item:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}
.list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.item-action-buttons {
    display: flex;
    justify-content: center;
    background-color: #2E2E2E !important;
    border-radius: 5px;
    overflow: hidden;
    width: 100px;
    margin: 0 auto;
}
.item-action-button {
    background-color: #1F2124;
    border: none;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.1s;
}
.item-action-button:hover {
    background-color: #333;
}
.item-action-button-delete:hover {
    background-color: #3B2327;
}
.item-list-header {
    background-color: #1F2124;
    position: sticky;
    top: 45px;
}
.item-list-header > tr > th {
    width: 75px;
    height: 35px;
}
.add-item-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: fit-content;
    background-color: #1F2124;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #2E2E2E;
}
.add-item-popup-title {
    font-size: 1.5em;
    font-weight: 300;
    color: white;
    padding-bottom: 10px;
}
.add-item-popup-divider {
    width: 25%;
}
.add-item-popup-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2E2E2E;
    color: white;
    font-size: 0.8em;
    font-weight: 300;
}
.add-item-popup-body {
    width: 100%;
    display: flex;
    flex-flow: column;
}
.add-item-popup-upper-body {
    display: flex;
    flex-flow: row;
    gap: 10px;
    height: 100%;
    width: 100%;
}
.add-item-popup-left-body {
    display: flex;
    flex-flow: column;
    gap: 5px;
    width: 50%;
}
.add-item-popup-left-body {
    width: 50%;
}
.add-item-popup-right-body {
    width: 50%;
}
.add-item-popup-textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2E2E2E;
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    resize: none;
}
.add-item-popup-input-price {
    width: 100px;
    margin: 0 auto;
    text-align: center;
}
.item-select {
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: #2E2E2E;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}
.add-item-popup-bottom-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.add-item-popup-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.add-item-popup-button-container {
    background-color: #2E2E2E;
    border: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.1s;
    overflow: hidden;
}
.add-item-popup-button {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    transition: 0.1s ease;
}
.add-item-popup-button-cancel {
    color: #FF6B6B;
}
.add-item-popup-button-confirm:hover {
    background-color: #3b3b3b;
}
.add-item-popup-button-cancel:hover {
    background-color: #2F2327;
}
.add-item-popup-checkbox-container {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 5px;
}
.add-item-popup-checkbox {
    background-color: #2E2E2E;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.add-item-popup-checkbox-label {
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    cursor: pointer;
}
.page-sum-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    position: fixed;
    bottom: 10px;
    left: 235px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(20px);
    height: 40px;
}

.tooltip-input {
    width: fit-content;
    padding: 5px;
    height: fit-content;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #2E2E2E;
    z-index: 100;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.pending-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #1F2124;
    border-top: 5px solid #555;
    animation: spin 2s linear infinite;
}
